<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Rankings</title>
		<style>
			*{
				font-family: sans-serif;
			}
			h2, h5{
				display: inline-block;
				width: 6.5rem;
			}
			h5{
				font-weight: normal;
				font-size: 14pt;
			}
			body > a {
				padding: 0.5rem;
				border: 1px solid black;
				margin: 1rem;
				margin-top: 2rem;
				display: block;
				width: 8rem;
				text-align: center;
				font-weight: bolder;
				font-size: 14pt;
			}
			a{
				color: black;
			}
			a > h2 {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
		<a href="/">Enter Race</a>
		<a href="/graphs">Graphs</a>
		<h1>Rankings</h1>
		<ol>
		<% players.forEach((p)=> { %>
			<li>
				<a href="/player/<%= p.name %>"><h2>
					<%= p.name %>
				</h2></a>
				<h5><%= p.races > 0 ? p.elo : "---" %></h5>
				(<%= p.races%>% of races played)
			</li>
			<hr />
		<% }) %>
	</ul>
	</body>
</html>
